<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Aggregator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/affeab23de.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          InfoStream
        </a>
        <form method="post" action="{{ url_for('searchdashboard') }}">
          <!-- <input class="form-control search-bar" type="text" placeholder="Search the web"> -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search News" name="search" aria-label="Search News" aria-describedby="button-addon2">
            <button style="color: white; background-color: gray;" class="btn btn-outline-secondary" type="submit" name="action" id="button-addon2">Submit</button>
          </div>
        </form>
        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav_w" style="list-style-type: none;">
          <li class="nav-item_w">
            <a class="nav-link_w" href="#">Home</a>
          </li>
          <li class="nav-item_w">
            <a class="nav-link_w" href="#">About</a>
          </li>
          <li class="nav-item_w">
            <a class="nav-link_w" href="#">Pricing</a>
          </li>
          <li class="nav-item_w">
            <a class="nav-link_w" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="card">
      <!-- Tabs -->
      <ul class="nav nav-tabs" >
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('dashboard') }}">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('categorydashboard', news_category='trending') }}">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('categorydashboard', news_category='sports') }}">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('categorydashboard', news_category='community') }}">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('categorydashboard', news_category='food') }}">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('categorydashboard', news_category='clothing') }}">Clothing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('categorydashboard', news_category='health') }}">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('categorydashboard', news_category='shopping') }}">Shopping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" href="{{ url_for('categorydashboard', news_category='weather') }}">Weather</a>
        </li>     
      </ul>

      <!-- News -->
      <div class="container mt-4">
        <div class="row">
          <!-- Main Content -->
          <div class="col-md-8">
            <!-- Featured News -->
            <div class="content-section">
              <div class="content-card">
                <div id="carouselExampleCaptions" class="carousel slide">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>

                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://static.toiimg.com/thumb/msid-116815260,imgsize-63214,width-400,resizemode-4/116815260.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>The Year That Was: A to Z of Sports in 2024</h5>
                        <a href="https://timesofindia.indiatimes.com/sports/more-sports/others/the-year-that-was-a-to-z-of-sports-in-2024/articleshow/116815098.cms" target="_blank">Read Article</a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://static.toiimg.com/thumb/msid-116735407,imgsize-73644,width-400,resizemode-4/116735407.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Meet Chennai runners, city's running community behind Chennai Marathon</h5>
                        <a href="https://timesofindia.indiatimes.com/life-style/spotlight/meet-chennai-runners-citys-running-community-behind-chennai-marathon/articleshow/116735407.cms" target="_blank">Read Article</a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://dtnext-prod.s3.ap-south-1.amazonaws.com/h-upload/2024/12/27/750x450_852669-fm.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Marina Loop Road market has created more issues than solutions, rue fisherfolk</h5>
                        <a href="https://www.dtnext.in/news/chennai/marina-loop-road-market-has-created-more-issues-than-solutions-rue-fisherfolk-817034" target="_blank">Read Article</a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://media.assettype.com/newindianexpress%2F2024-10-21%2F55rvof82%2FStitc.jpg?w=640&auto=format%2Ccompress" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Stitches of inclusivity: Chennai-based fashion house produces adaptive clothing</h5>
                        <a href="https://www.newindianexpress.com/cities/chennai/2024/Oct/22/stitches-of-inclusivity-chennai-based-fashion-house-produces-adaptive-clothing" target="_blank">Read Article</a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB1mxx4d.img?w=768&h=403&m=6&x=600&y=195&s=169&d=169" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Year Ender 2024: 5 big-budget Bollywood movies to expect next year</h5>
                        <a href="https://www.msn.com/en-in/entertainment/movies/year-ender-2024-5-big-budget-bollywood-movies-to-expect-next-year/ar-AA1wDLwf" target="_blank">Read Article</a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1t4L2f.img?w=749&h=421&m=6&x=496&y=158&s=94&d=94" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>5 brilliant movies that highlight the importance of therapy</h5>
                        <a href="https://www.msn.com/en-in/entertainment/movies/5-brilliant-movies-that-highlight-the-importance-of-therapy/ar-AA1t4NDG " target="_blank">Read Article</a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://www.bing.com/th?id=OSAHI.026D6AD04CA0262C321E047260BBCCE3&h=362&p=0" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>7 Days Cardioprotective Vegan Diet Plan</h5>
                        <a href="https://www.msn.com/en-in/health/diet-plan/in-7-days-cardioprotective-vegan-diet-plan/in-7-days-cardioprotective-vegan-diet-plan-christos-sittas " target="_blank">Read Article</a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://www.bing.com/th?id=OSAHI.2337C6B5FEA94D32DA55515FBA9E8C38&h=362&p=0" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Vibrant Vegetarian Healthy Heart Plan</h5>
                        <a href="https://www.msn.com/en-in/health/diet-plan/in-vibrant-vegetarian-healthy-heart-plan/in-vibrant-vegetarian-healthy-heart-plan-whitney-hills " target="_blank">Read Article</a>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
            
          
          <!-- Sidebar -->
          <div class="col-md-4">
            <div class="dropdown">
              <div class="card_location" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; cursor:pointer;" id="location-display">{{location}}</h5>
                  <span id="temperature-display" style=" margin-top:10px; font-size: 25px; color:white;"></span>
                  
                  <div class="dropdown-menu scrollspy-example" style="background-color: #c6ccd2; max-height: 290px; border-radius: 20px; width:240px; overflow-y: auto;">
                    <ul class="list-unstyled">
                      
                      {% for district in ['Chengalpattu', 'Chennai', 'Coimbatore', 'Cuddalore', 'Dharmapuri', 'Dindigul', 'Erode', 'Kallakurichi', 'Kancheepuram', 'Kanyakumari', 'Karur', 'Krishnagiri', 'Madurai', 'Mayiladuthurai', 'Nagapattinam', 'Namakkal', 'Nilgiris', 'Perambalur', 'Pudukkottai', 'Ramanathapuram', 'Ranipet', 'Salem', 'Sivaganga', 'Tenkasi', 'Thanjavur', 'Theni', 'Thiruvallur', 'Thiruvarur', 'Thoothukudi', 'Tiruchirappalli', 'Tirunelveli', 'Tirupattur', 'Tiruppur', 'Tiruvannamalai', 'Vellore', 'Viluppuram', 'Virudhunagar'] %}
                        <li><a class="dropdown-item" href="#" onclick="updateLocation('{{ district }}')">{{ district }}</a></li>
                      {% endfor %}

                    </ul>
                  </div>
                  <h2></h2>
                  <p class="card-text"><a href="https://weather.com/en-IN/weather/today/l/13.03,80.21?par=google" style="color: white; text-decoration: none;">weather.com</a></p>
                </div>
              </div>
            </div>

            <div class="card_profile" style="width: 20rem;">
              <div class="card-body">
                <h5 class="card-title" style="color: white;">{{firstname}}<span style="float: right; font-size: 25px;"><i class="fa-solid fa-person-circle-check"></i></span></h5>
              </div>
            </div>

            <div class="card_personalize" style="width: 20rem;">
              <div class="card-body">
                <button id="personalizeButton" type="button" class="btn btn-outline-secondary" style="color: white;"><i class="fa-solid fa-star"></i>  Personalize</button>
                <a type="button" class="btn btn-outline-secondary" href="{{ url_for('post') }}" style="color: white;"><i class="fa-solid fa-folder-plus"></i>  Add News</a>
              </div>
            </div>

            <div class="additional-content">
              <h3>Community Spotlight </h3>
           <div class="suggestions">
                <div class="news-topic" style="cursor:pointer;">
                  <h4><i class="fa-solid fa-elevator"></i>  Awarness    <i class="fa-solid fa-chevron-right" id="aw" styles="color:blue;"></i></h4>
                </div>
                <div class="trending-articles" style="cursor:pointer;">
                  <h4><i class="fa-solid fa-money-bills"></i>  Schemes    <i class="fa-solid fa-chevron-right" id="aw" styles="font-size:blue;"></i></h4>
                  
                </div>
              </div>
            </div>
            
          </div>

            

      <!-- Suggested News -->
      <div class="content-section">
        <div>
          <h3 align=center>Suggested for you</h3>
          {% for article in news %}
          <div class="card">
            <div class="card-header">
              Source: {{ article.source }}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <h5 class="card-title">{{ article.headline }}</h5>
                  <p class="card-text">{{ article.date }}</p>
                  <a href="https://news.google.com{{ article.url }}" class="btn btn-outline-primary">Read Article</a>
                  <button class="btn btn-outline-secondary fact-check-btn" data-headline="{{ article.headline }}">Fact Check</button>
                  <span class="fact-check-result" style="display: none;"></span>
                </div>
                <div class="col-4">
                  <img src="{{ article.image }}" style="height: 100%; width: 100%; border-radius: 10px;" align=left>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div>
          <h3 align=center>Community Posts</h3>
          {% for article in communitypost %}
          <div class="card">
            <div class="card-header">
              {{ article.username }}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <h5 class="card-title">{{ article.headline }}</h5>
                  <p class="card-text">{{ article.date }}</p>
                  <a href="{{ url_for('viewpost', post_id=article._id) }}" class="btn btn-outline-primary">Read Article</a>
                  <button class="btn btn-outline-secondary fact-check-btn" data-headline="{{ article.headline }}">Fact Check</button>
                  <span class="fact-check-result" style="display: none;"></span>
                </div>
                <div class="col-4">
                  <img src="{{ article.image_url }}" style="height: 100%; width: 100%; border-radius: 10px;" align=left>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="personalizeModal" tabindex="-1" aria-labelledby="personalizeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="personalizeModalLabel">Favourite Categories</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Favourite -->
            <div class="watchlist">
              <div 
              data-bs-spy="scroll" 
              data-bs-smooth-scroll="true" 
              class="scrollspy-example p-1" 
              style="max-height: 170px; overflow-y: auto; ">
              <a class="btn btn-primary" href="{{ url_for('favourites') }}">Add Favourite</a>
                  <ul class="list-group">
                    {% for favourite in favourites %}
                    <li class="list-group-item d-flex justify-content-between">
                    <span>{{ favourite.topic }}</span>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <script>
      document.querySelectorAll('.fact-check-btn').forEach(button => {
        button.addEventListener('click', function() {
          const headline = this.getAttribute('data-headline');
          fetch('/factcheck', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ headline: headline })
          })
          .then(response => response.json())
          .then(data => {
            const resultSpan = this.nextElementSibling;
            if (data.is_true || data.no_matching_claims) {
              resultSpan.innerHTML = '<i class="fa-solid fa-check" style="color: green;"></i>';
            } else {
              resultSpan.innerHTML = '<i class="fa-solid fa-times" style="color: red;"></i>';
            }
            resultSpan.style.display = 'inline';
          });
        });
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      document.getElementById('personalizeButton').addEventListener('click', function() {
        var personalizeModal = new bootstrap.Modal(document.getElementById('personalizeModal'));
        personalizeModal.show();
      });
    </script>
<script>
  async function fetchTemperature(district) {
    const apiKey = '03d732d8a636b03f36cfae6e3a634'; // Replace with your API key
    const apiUrl = `http://api.weatherstack.com/current?access_key=${apiKey}&query=${district}`;
    
    try {
        const response = await fetch(apiUrl);
        if (!response.ok) {
            throw new Error('Failed to fetch weather data');
        }
        const data = await response.json();
        console.log('Weather data:', data); // Log the API response
        if (data.current && data.current.temperature) {
            const temperature = data.current.temperature;
            document.getElementById('temperature-display').innerText = `${temperature}°C`;
        } else {
            throw new Error('Temperature data not found');
        }
    } catch (error) {
        document.getElementById('temperature-display').innerText = `N/A`;
        console.error('Error fetching temperature:', error);
    }
  }

  function updateLocation(newLocation) {
    fetch('/update_location', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ location: newLocation, csrf_token: '{{ csrf_token() }}' })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        document.getElementById('location-display').innerText = newLocation;
        fetchTemperature(newLocation); // Fetch and display the temperature
      } else {
        alert('Failed to update location: ' + data.message);
      }
    })
    .catch(error => console.error('Error:', error));
  }

  // Initial fetch for the current location
  fetchTemperature('{{ location }}');
</script>

  </body>
</html>