<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Aggregator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/affeab23de.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          NA
        </a>
        <input class="form-control search-bar" type="text" placeholder="Search the web">
        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav_w">
          <li class="nav-item_w">
            <a class="nav-link_w" href="#">Home</a>
          </li>
          <li class="nav-item_w">
            <a class="nav-link_w" href="#">About</a>
          </li>
          <li class="nav-item_w">
            <a class="nav-link_w" href="#">Pricing</a>
          </li>
          <li class="nav-item_w">
            <a class="nav-link_w" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="card">
      <!-- Tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clothing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shopping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Weather</a>
        </li>     
      </ul>

      <!-- News -->
      <div class="container mt-4">
        <div class="row">
          <!-- Main Content -->
          <div class="col-md-8">
            <!-- Featured News -->
            <div class="content-section">
              <div class="content-card">
                <div id="carouselExampleCaptions" class="carousel slide">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Sidebar -->
          <div class="col-md-4">
            <div class="card">
              <h3>{{ session['location'] }}</h3>
            </div>
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <button id="personalizeButton" type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-star"></i>  Personalize</button>
                <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-bell"></i>  Notifications</button>
                
                <button type="button" class="btn btn-outline-secondary" id="add_events"><i class="fa-solid fa-folder-plus"></i></i>  Add Events</button>
              </div>
            </div>
          </div>

            

      <!-- Suggested News -->
      <div class="content-section">
        <div>
          <h3 align=center>Suggested for you</h3>
          {% for article in news %}
          <div class="card">
            <img src="https://news.google.com{{ article.image }}" class="card-img-top" alt="...">
            <div class="card-header">
              {{ article.source }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ article.headline }}</h5>
              <p class="card-text">{{ article.date }}</p>
              <a href="https://news.google.com{{ article.url }}" class="btn btn-outline-primary">Read Article</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div>
          <h3 align=center>Community Posts</h3>
          {% for article in communitypost %}
          <div class="card">
            <img src="https://news.google.com" class="card-img-top" alt="...">
            <div class="card-header">
              {{ article.username }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ article.headline }}</h5>
              <p class="card-text">{{ article.date }}</p>
              <a href="{{ url_for('viewpost', post_id=article._id) }}" class="btn btn-outline-primary">Read Article</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="personalizeModal" tabindex="-1" aria-labelledby="personalizeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="personalizeModalLabel">Favourite Categories</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Favourite -->
            <div class="watchlist">
              <div 
              data-bs-spy="scroll" 
              data-bs-smooth-scroll="true" 
              class="scrollspy-example p-1" 
              style="max-height: 170px; overflow-y: auto; ">
                  <ul class="list-group">
                    {% for favourite in favourites %}
                    <li class="list-group-item d-flex justify-content-between">
                    <span>{{ favourite.topic }}</span>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></button>
                      <button type="button" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                </div>
          </div>
        </div>
      </div>
          
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      document.getElementById('personalizeButton').addEventListener('click', function() {
        var personalizeModal = new bootstrap.Modal(document.getElementById('personalizeModal'));
        personalizeModal.show();
      });
    </script>
  </body>
</html>